@import '../../abstracts/variables.scss';

$moduleName: 'description';
.#{$moduleName} {
  &__base {
    box-shadow: var(--shadow-light);
    padding: 2rem;
    flex: 0 0 60%;
    margin-right: 0;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    background-color: var(--color-white);

    @include respond(min-mobile) {
      margin-right: 3rem;
      margin-bottom: 0;
    }

    @include respond(min-tab-port) {
      padding: 3rem;
      margin-right: 4.5rem;
    }
  }
}