@import '../../abstracts/variables.scss';

$moduleName: 'header';
.#{$moduleName} {
  &__base {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 11rem;
    background-color: var(--color-white);
    border-bottom: var(--line);
    flex-wrap: wrap;
    align-content: space-around;

    @include respond(min-mobile-xs) {
      flex-wrap: nowrap;
      height: 7rem;
      align-content: stretch;
    }
  }

  &__logo {
    height: 3.25rem;
    margin-left: 2rem;
  }
}