@mixin clearfix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin absCenter($leftPos: 50%, $topPos: 50%, $translated: true) {
  position: absolute;
  top: $topPos;
  left: $leftPos;

  @if $translated  {
    transform: translate(-50%, -50%);
  }
}

@mixin inputPlaceholder() {
  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder {
    @content
  }
}

$mobile-xs: 500px;
$mobile : 600px;
$tablet: 900px;
$desktop: 1101px;
$desktop-lg: 1201px;

@mixin respond($breakpoint) {
  @if $breakpoint == touch-phone-only {
    // styles needed foe anything bigger than phone
    @media only screen and (max-width: $mobile),
          only screen and (hover: none) {
      @content;
    }
  }
  @if $breakpoint == min-mobile-xs {
    @media only screen and (min-width: $mobile-xs) {
      @content;
    }
  }
  @if $breakpoint == min-mobile {
    @media only screen and (min-width: $mobile) {
      @content;
    }
  }
  @if $breakpoint == min-tab-port {
    // styles needed for anything bigger than tablet
    @media only screen and (min-width: $tablet) {
      @content;
    }
  }
  @if $breakpoint == min-desktop {
    // styles needed for anything bigger than desktop
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
  @if $breakpoint == min-desk-L {
     // styles needed for anything bigger than L desktop
    @media only screen and (min-width: $desktop-lg) {
      @content;
    }
  }
}