@import '../../abstracts/variables.scss';

$moduleName: 'side-nav';
.#{$moduleName} {
  &__base {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 0;
    display: flex;
    flex-direction: row;

    @include respond(min-tab-port) {
      flex-direction: column;
      margin-top: 3.5rem;
    }
  }

  &__item {
    position: relative;
    flex: 1;

    @include respond(min-tab-port) {
      flex: auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform .2s, 
                  width .4s cubic-bezier(1,0,0,1) .2s, 
                  background-color .1s;
    }

    &:not(:last-child) {
      margin-bottom: 0;

      @include respond(min-tab-port) {
        margin-bottom: 0.5rem;
      }
    }

    &--isActive,
    &:hover {
      &::before {
        transform: scaleY(1);
        width: 100%;
      }
    }

    &:active {
      &::before {
        background-color: var(--color-primary-light);
      }
    }
  }

  &__link {
    &:link,
    &:visited {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem .5rem;
      position: relative;
      z-index: 10;

      @include respond(min-mobile) {
        flex-direction: row;
        padding: 2rem;
      }

      @include respond(min-tab-port) {
        justify-content: flex-start;
        padding: 1.5rem 3rem;
      }
    }

  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0;
    margin-bottom: .7rem;
    fill: currentColor;

    @include respond(min-mobile) {
      margin-right: 2rem;
      margin-bottom: 0;
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}